@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:100,400,700');

html {
  background-color: #bfd7ec;
  padding: 20px;
	font-family: "IBM Plex Sans", sans-serif;
}

body {
  max-width: 40em;
  margin: 20px auto;
  background-color: white;
  border-radius: 4px;
  padding: 20px 40px 200px;
	box-shadow: 0 5px 40px rgb(153, 189, 222);
}

hr {
	background-color: #ddd;
	border-radius: 2px;
	height: 2px;
	width: 100%;
	border: none;
	margin: 40px 0;
}

h1,
h2 {
  margin-bottom: 5px;
  margin-top: 40px;
	font-family: "IBM Plex Sans", serif;
}

h3 {
	margin: 0.5em 0;
}

ol, ul {
	padding-left: 30px;
}

li {
	margin: 10px 0;
}

.step-list > li{
	margin-bottom: 120px;
}

pre, code {
	font-family: "IBM Plex Mono", monospace;
	margin-bottom: 0;
}

code {
  display: inline;
  padding: 0 2px;
  background: #ffd0fb;
  color: #7a0096;
  border-radius: 2px;
}

.pre-block {
	display: block;
	background: #eee;
	border-radius: 2px;
	padding: 10px;
	font-size: 12px;
	tab-size: 2;
}

.task-block {
	background-color: #ffebb0;
	border: 1px solid #f5db8e;
	color: #88523c;
	padding: 10px;
	border-radius: 2px;
	margin: 20px 0;
}

.result {
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 10px;
}

.article-list-item {
	margin: 40px 0;
}

.tagline {
	opacity: 0.6;
}

.btn {
	border: 1px solid #ccc;
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
	background: white;
	border-radius: 4px;
	color: black;
	display: inline-block;
	cursor: pointer;
	padding: 4px 10px;
	text-decoration: none;
}